/* HeroSection.css */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  height: 100vh;
  box-sizing: border-box;
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.hero-content .location {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}

.btn-book {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
  background-color: #FFA000; /* Tomato color */
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn-book:hover {
  background-color: #ff4500; /* Darker tomato color */
}

.hero-image {
  width: 45%;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .hero-image {
    width: 80%;
    margin-top: 30px;
  }

  .hero-content h1 {
    font-size: 3rem;
  }

  .hero-content .location {
    font-size: 1.2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-content .location {
    font-size: 1rem;
  }

  .hero-content p {
    font-size: 0.9rem;
  }

  .btn-book {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
