/* Highlights.css */
.highlights {
  padding: 50px 20px;
  background-color: #f8f8f8;
  text-align: center;
}

.highlights-title {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 40px;
}

.highlights-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.highlight-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 300px;
  cursor: pointer;
  text-align: left;
  padding: 15px;
}

.highlight-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.highlight-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

.dish-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  margin: 15px 0 10px;
}

.dish-description {
  font-size: 1rem;
  color: #777;
  margin: 0 0 15px;
}

.dish-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ff6347; /* Tomato color */
  margin-bottom: 20px;
}

.order-delivery {
  font-size: 0.9rem;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.order-delivery:hover {
  color: #ff6347; /* Tomato color */
}

@media (max-width: 768px) {
  .highlights-title {
    font-size: 2rem;
  }

  .highlight-item {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .highlights-title {
    font-size: 1.5rem;
  }

  .highlight-item {
    width: 100%;
  }

  .dish-name {
    font-size: 1.2rem;
  }

  .dish-description {
    font-size: 0.9rem;
  }

  .dish-price {
    font-size: 1rem;
  }
}
